<ion-content fullscreen scroll-y="false">
  <ion-slides pager [options]="slideOpts">
    <ion-slide>
      <div class="section_one">
        <h2>Meu Closet</h2>
      </div>

      <div class="section_two">
        <img class="ion-padding" src="assets/images/metas.jpeg" />
      </div>

      <div class="section_three">
        <p class="ion-padding">Visualize seus contatos e faça ligações.</p>

        <!-- Get Started Button -->
        <div class="ion-padding">
          <ion-button expand="block" color="color1" routerLink="/landing" routerDirection="root">Vamos Começar
          </ion-button>
        </div>

      </div>
    </ion-slide>

  </ion-slides>
</ion-content>