<ion-content id="landing-page" fullscreen>
  <div class="section_one">
    <h2>Bem Vindo</h2>
    <p>Controle seus contatos.</p>
  </div>

  <div class="section_two">
    <!-- <img class="ion-padding" style="width: 215px;" src="assets/images/tellecalling.png" /> -->
    <lottie-player slot="end" autoplay loop src="../../../assets/contact.json">
    </lottie-player>
  </div>

  <div class="section_three">
    <p class="ion-padding">Salve 5 contatos e faça ligações.</p>

    <!-- Button Options -->
    <div class="ion-padding">
      <ion-button expand="block" color="color1" routerLink="/signin" routerDirection="root">Login</ion-button>
      <ion-button expand="block" fill="outline" color="color1" routerLink="/inscricao" routerDirection="root">
        Cadastre-se
      </ion-button>
    </div>
  </div>

</ion-content>